
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Loi</title>
</head>
<body>
    <h1>Tai Khoan chua Duoc Kich Hoat click<@Html.ActionLink("Quay Lai Login","Index","Login")></></h1>
</body>
</html>
