
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>XacThucEmail</title>
</head>
<body>

    <h1>ConfirmEmail</h1>
    <div>
        <p>
            Thank you for confirming your email.
        </p>
    </div>
</body>
</html>
